@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Playfair+Display:400,700");

.blackbackground {
    background-color: black;
}
.wrapper {
    color: white;
    font-family: Lucida, sans-serif;
    max-width: 900px;
    margin: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.title {
    width: 100%;
    height: 200px;
    background-image: url('http://www.gazetadopovo.com.br/ra/mega/Pub/GP/p4/2016/05/25/CadernoG/Imagens/Cortadas/MilesJazzThe-PlazaTwo-Page-SpreadAlternate1495C308-kHmD-U20299988729sy-1024x576@GP-Web.jpg');
    background-size: cover;
}

.title h1 {
    background-color: rgba(0,0,0,.4);
    margin: 70px 0;
    color: #f1c40f;
    font-size: 40px;
    font-weight: 700;
    height: 60px;
}

.subtitle {
    padding: 40px 0;
}

.history {
    margin-bottom: 40px;
}

.history p {
    text-align: left;
    text-indent: 30px;
    padding: 20px;
    font-family: 'Noto sans', sans-serif;
}

.history__title {
    color: #f1c40f;
    text-align: center;
    font-family: 'Noto sans', sans-serif;
    font-size: 34px;
}

.history__image {
    display: block;
    margin: auto;
}
.spotify {
    padding: 20px;
}
